@use '../abstract/colors' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

// Prevent scroll when mobile menu is open.
html:has(.mb-menu[data-state='open']) {
  overflow-y: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $neutral_50;
}

// Handle accessibility styles myself.
*:focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
}

button, a {
  border: none;
  background: transparent;
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
