@use '../utils/helpers' as *;
@use '../abstract/colors' as *;
@use '../animations' as *;

#hero-section {
  #content {
    #mb-headings {
      @include applyFont('Kumbh Sans', 600);
      width: px_to_rem(340);
      letter-spacing: -1.6px;
      color: $neutral_50;
      margin-top: px_to_rem(105);

      #h-1,
      #h-2,
      #h-3,
      #h-4 {
        width: fit-content;
        text-shadow: 0 4px 20px rgba($black, .6);
      }

      #h-1,
      #h-4 {
        font-size: px_to_rem(52);
      }

      #h-1 {
        margin-bottom: px_to_rem(6);
      }

      #h-2 {
        font-size: px_to_rem(36);
        margin-left: auto;
        margin-bottom: px_to_rem(57);
      }

      #h-3 {
        font-size: px_to_rem(28);
        margin-left: px_to_rem(40);
        margin-bottom: px_to_rem(5);
      }

      #h-4 {
        margin-inline: auto;
      }

      // Animations
      #h-1,
      #h-3 {
        @include applyLeftSlideIn(.8s)
      }

      #h-2,
      #h-4 {
        @include applyRightSlideIn(.8s)
      }
    }
  }
}

/*---------------------------------------------------------------------------*/

@include min-w(478px) {
  @include min-h(720px) {
    #hero-section {
      #content {
        #mb-headings {
          width: px_to_rem(408);
          margin-top: px_to_rem(105);

          #h-1,
          #h-4 {
            font-size: px_to_rem(62.4);
          }

          #h-1 {
            margin-bottom: px_to_rem(7.2);
          }

          #h-2 {
            font-size: px_to_rem(43.2);
            margin-bottom: px_to_rem(68.4);
          }

          #h-3 {
            font-size: px_to_rem(33.6);
            margin-left: px_to_rem(43);
            margin-bottom: px_to_rem(6);
          }
        }
      }
    }
  }
}

@include min-w(600px) {
  @include min-h(940px) {
    #hero-section {
      #content {
        #mb-headings {
          width: px_to_rem(489.6);
          margin-top: px_to_rem(125);

          #h-1,
          #h-4 {
            font-size: px_to_rem(74.88);
          }

          #h-1 {
            margin-bottom: px_to_rem(8.64);
          }

          #h-2 {
            font-size: px_to_rem(51.84);
            margin-bottom: px_to_rem(82);
          }

          #h-3 {
            font-size: px_to_rem(40.32);
            margin-left: px_to_rem(49);
            margin-bottom: px_to_rem(7.2);
          }
        }
      }
    }
  }
}

@include min-w(768px) {
  @include min-h(940px) {
    #hero-section {
      #content {
        #mb-headings {
          width: px_to_rem(538.56);
          margin-top: px_to_rem(126.5);

          #h-1,
          #h-4 {
            font-size: px_to_rem(82.36);
          }

          #h-1 {
            margin-bottom: px_to_rem(9.5);
          }

          #h-2 {
            font-size: px_to_rem(57);
            margin-bottom: px_to_rem(90.2);
          }

          #h-3 {
            font-size: px_to_rem(44.35);
            margin-left: px_to_rem(50);
            margin-bottom: px_to_rem(7.92);
          }
        }
      }
    }
  }

  @include min-h(1200px) {
    #hero-section {
      #content {
        #mb-headings {
          width: px_to_rem(646.27);
          margin-top: px_to_rem(151.8);

          #h-1,
          #h-4 {
            font-size: px_to_rem(98.83);
          }

          #h-1 {
            margin-bottom: px_to_rem(11.4);
          }

          #h-2 {
            font-size: px_to_rem(68.4);
            margin-bottom: px_to_rem(108.24);
          }

          #h-3 {
            font-size: px_to_rem(53.22);
            margin-left: px_to_rem(55);
            margin-bottom: px_to_rem(9.5);
          }
        }
      }
    }
  }
}

@include min-w(900px) {
  @include min-h(1520px) {
    #hero-section {
      #content {
        #mb-headings {
          width: px_to_rem(710.9);
          margin-top: px_to_rem(167);

          #h-1,
          #h-4 {
            font-size: px_to_rem(108.71);
          }

          #h-1 {
            margin-bottom: px_to_rem(12.54);
          }

          #h-2 {
            font-size: px_to_rem(75.24);
            margin-bottom: px_to_rem(119);
          }

          #h-3 {
            font-size: px_to_rem(58.54);
            margin-left: px_to_rem(60);
            margin-bottom: px_to_rem(10.45);
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*/

@include max-w(375px) {
  #hero-section {
    #content {
      #mb-headings {
        width: px_to_rem(306);
        margin-top: px_to_rem(90);

        #h-1,
        #h-4 {
          font-size: px_to_rem(46.8);
        }

        #h-1 {
          margin-bottom: px_to_rem(5.4);
        }

        #h-2 {
          font-size: px_to_rem(32.4);
          margin-bottom: px_to_rem(48.6);
        }

        #h-3 {
          font-size: px_to_rem(25.2);
          margin-left: px_to_rem(36);
          margin-bottom: px_to_rem(4.5);
        }
      }
    }
  }
}

@include max-w(320px) {
  #hero-section {
    #content {
      #mb-headings {
        width: px_to_rem(275.4);
        margin-top: px_to_rem(70);

        #h-1,
        #h-4 {
          font-size: px_to_rem(42.1);
        }

        #h-1 {
          margin-bottom: px_to_rem(4.86);
        }

        #h-2 {
          font-size: px_to_rem(29.16);
          margin-bottom: px_to_rem(43.74);
        }

        #h-3 {
          font-size: px_to_rem(22.68);
          margin-left: px_to_rem(32.4);
          margin-bottom: px_to_rem(4.05);
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*/
