/*---------------------------------------------------------------------------*/

// [ Brand Colors ]

$fresh_green: hsl(119, 62%, 60%);
$black_pearl: hsl(189, 76%, 5%);
$light_turquoise: hsl(160, 73%, 72%);

/*---------------------------------------------------------------------------*/

// [ Utility Colors ]

$disabled: hsl(119, 62%, 76%);
$active: hsl(119, 62%, 50%);
$red_error: hsl(0, 90%, 61%);
$gold_yellow: hsl(47, 98%, 59%);

/*---------------------------------------------------------------------------*/

// [ Gradients ]
$g_main_h: linear-gradient(to right, hsl(160, 73%, 40%), $fresh_green);
$g_main_v: linear-gradient(to top, hsl(160, 73%, 40%), $fresh_green);

/*---------------------------------------------------------------------------*/

// [ Neutrals ]

$white: hsl(0, 0%, 100%);
$neutral_50: hsl(0, 0%, 95%);
$neutral_100: hsl(0, 0%, 90%);
$neutral_200: hsl(0, 0%, 80%);
$neutral_300: hsl(0, 0%, 70%);
$neutral_400: hsl(0, 0%, 60%);
$neutral_500: hsl(0, 0%, 50%);
$neutral_600: hsl(0, 0%, 40%);
$neutral_700: hsl(0, 0%, 30%);
$neutral_800: hsl(0, 0%, 20%);
$neutral_900: hsl(0, 0%, 10%);
$black: hsl(0, 0%, 0%);

/*---------------------------------------------------------------------------*/

// [ Special Case ]

$dynamic_dark: #1e1e1e;

/*---------------------------------------------------------------------------*/
