@use '../utils/helpers' as *;
@use '../abstract/colors' as *;
@use '../abstract/variables' as *;

#navbar {
  @include applyPosition;
  width: 100%;
  height: px_to_rem(75);
  background: rgba($black, .3);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 20px rgba($black, .25);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline: px_to_rem(24);

    #logo {
      width: px_to_rem(180);
    }

    #mb-menu-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: px_to_rem(14);
      border-radius: 50%;
      margin-right: px_to_rem(-16);
      cursor: pointer;

      &:active {
        background: rgba($neutral_700, .2);
      }

      &:focus-visible {
        outline: 2px solid $fresh_green;
      }
      
      #mb-menu-icon {
        width: px_to_rem(36);
        height: px_to_rem(36);
      }
    }

    #desktop-links {
      display: flex;
      align-items: center;
      column-gap: px_to_rem(30);
      height: 100%;

      ul {
        @include applyFont('Raleway', 600);
        letter-spacing: 1.4px;
        display: flex;
        align-items: center;
        column-gap: px_to_rem(30);
        height: 100%;

        li {
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;
          position: relative;

          &:hover span {
            color: $fresh_green;
          }

          &:hover::after {
            transform: translateX(-4.35%) scaleX(1);
          }

          &:active a {
            transform: scale(.95);
          }
        }

        li::after {
          @include applyPosition(absolute, 0, 0, bl);
          content: '';
          display: block;
          width: 110%;
          height: 5px;
          background: $fresh_green;
          transform: translateX(-4.35%) scaleX(0);
          transform-origin: center;
          transition: transform .2s $relaxed;
        }

        a {
          transition: $btn_interaction;
        }

        span {
          transition: $link_hover;
          color: $neutral_50;
        }
      }

      #auth-btns {
        display: flex;
        align-items: center;
        column-gap: px_to_rem(15);

        button {
          @include applyFont('Raleway', 500);
          color: $neutral_50;
          border: 1px solid $neutral_50;
          border-radius: px_to_rem(10);
          padding: px_to_rem(12) px_to_rem(25);
          transition: $btn_interaction;
          cursor: pointer;

          &:hover {
            background: $neutral_50;
            color: $dynamic_dark;
          }

          // Interaction
          &:active {
            transform: scale(.97);
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*/

@include min-w(600px) {
  @include min-h(940px) {
    #navbar {
      height: px_to_rem(100);

      nav {
        padding-inline: px_to_rem(35);

        #logo {
          width: px_to_rem(230);
        }
        
        #mb-menu-btn {
          padding: px_to_rem(16.8);

          #mb-menu-icon {
            width: px_to_rem(43.2);
            height: px_to_rem(43.2);
          }
        }
      }
    }
  }
}

@include min-w(900px) {
  @include min-h(1520px) {
    #navbar {
      height: px_to_rem(125);

      nav {

        #logo {
          width: px_to_rem(260);
        }
        
        #mb-menu-btn {
          padding: px_to_rem(20.16);

          #mb-menu-icon {
            width: px_to_rem(51.84);
            height: px_to_rem(51.84);
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*/

@include min-w(1025px) {
  #navbar {
    height: px_to_rem(75);

    nav {
      padding-inline: px_to_rem(30);
    }
  }
}

@include min-w(1240px) {
  #navbar {

    nav {
      padding-inline: px_to_rem(50);

      #desktop-links {
        column-gap: px_to_rem(40);
      }
    }
  }
}

@include min-w(1600px) {
  #navbar {
    height: px_to_rem(85);

    nav {

      #logo {
        width: px_to_rem(230);
      }

      #desktop-links {
        ul {
          a {
            font-size: px_to_rem(18);
          }

          span {
            font-size: px_to_rem(18);
          }
        }

        #auth-btns {
          button {
            font-size: px_to_rem(18);
          }
        }
      }
    }
  }
}

/*---------------------------------------------------------------------------*/
