@use '../abstract/colors' as *;
@use '../utils/helpers' as *;

#hero-section {
  height: 100vh;

  #background-img {
    height: 83vh;
    background: 
      linear-gradient(to bottom, rgba($black, .9), transparent 75%),
      linear-gradient(to top, rgba($black, .7), transparent 50%),
      url('/assets/images/opt/hero-sm.jpg') no-repeat center/cover;
  }

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #divider {
    height: px_to_rem(10);
    background: $g_main_h;
    box-shadow: 0 4px 20px rgba($black, .3);
  }
}

/*---------------------------------------------------------------------------*/

@include min-w(1025px) {
  #hero-section {
    #background-img {
      background: 
        linear-gradient(to bottom, rgba($black, .9), transparent 75%),
        linear-gradient(to top, rgba($black, .7), transparent 50%),
        url('/assets/images/large/hero-lg.jpg') no-repeat 0% 90%/cover;
    }
  }
}

@include min-w(1133px) {
  #hero-section {
    #background-img {
      background: 
        linear-gradient(to bottom, rgba($black, .9), transparent 75%),
        linear-gradient(to top, rgba($black, .7), transparent 50%),
        url('/assets/images/large/hero-lg.jpg') no-repeat 0% 83%/cover;
    }
  }
}

@include min-w(1240px) {
  #hero-section {
    #background-img {
      background: 
        linear-gradient(to bottom, rgba($black, .9), transparent 75%),
        linear-gradient(to top, rgba($black, .7), transparent 50%),
        url('/assets/images/large/hero-lg.jpg') no-repeat 0% 75%/cover;
    }
  }
}

@include min-w(1360px) {
  #hero-section {
    #background-img {
      background: 
        linear-gradient(to bottom, rgba($black, .9), transparent 75%),
        linear-gradient(to top, rgba($black, .7), transparent 50%),
        url('/assets/images/large/hero-lg.jpg') no-repeat 0% 70%/cover;
    }
  }
}

@include min-w(1400px) {
  #hero-section {
    #background-img {
      background: 
        linear-gradient(to bottom, rgba($black, .9), transparent 75%),
        linear-gradient(to top, rgba($black, .7), transparent 50%),
        url('/assets/images/large/hero-lg.jpg') no-repeat 0% 77%/cover;
    }
  }
}

/*---------------------------------------------------------------------------*/

@include min-w(478px) {
  #hero-section {
    #background-img {
      height: 87vh;
    }
  }
}

/*---------------------------------------------------------------------------*/

// Prevent over-stretching on disproportionate heights to widths.

@include min-w(320px) {
  @include min-h(940px) {
    #hero-section {
      max-height: 950px;

      #background-img {
        max-height: 850px;
      }
    }
  }
}

@include min-w(600px) {
  @include min-h(940px) {
    #hero-section {
      max-height: 1180px;

      #background-img {
        max-height: 1100px;
      }
    }
  }
}

@include min-w(768px) {
  @include min-h(1205px) {
    #hero-section {
      max-height: 1280px;

      #background-img {
        max-height: 1113px;
      }
    }
  }
}

@include min-w(900px) {
  @include min-h(1520px) {
    #hero-section {
      max-height: 1600px;

      #background-img {
        max-height: 1392px;
      }
    }
  }
}

/*---------------------------------------------------------------------------*/

// Prevenet too much shrink.
@include min-w(360px) {
  @include max-h(650px) {
    #hero-section {
      #background-img {
        min-height: 550px;
      }
    }
  }
}

@include max-w(359px) {
  @include max-h(560px) {
    #hero-section {
      #background-img {
        min-height: 500px;
      }
    }
  }
}

/*---------------------------------------------------------------------------*/
